@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  #regions {
    span.getMapLink {
      color: rgb(144, 190, 16);
      cursor: pointer;
    }

    hr {
      overflow: visible; /* For IE */
      padding: 0;
      border: none;
      border-top: medium double #333;
      color: #333;
      text-align: center;

    }

    hr:after {
      content: "§";
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 1.5em;
      padding: 0 0.25em;
      background: white;
    }

    img {
      width: 100%;
    }

    .top_image {
      max-width: 300px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 2.00em !important;
      color: #d7770a;
    }

    h2 {
      font-size: 1.25em;
    }

    h3 {
      font-size: 1.0em;
    }

    h4 {
      font-size: 1.0em;
    }

    h5 {
      font-size: 1.0em;
    }

    strong {
      color: #c77e11;
    }

    .numSitesAvailable {
      color: #d7770a;
    }

  }


  #app {
    //background: url("assets/images/background1.jpeg");
    background-size: cover;
    background-position: center;
  }


  nav#main-menu {
    margin: 20px 0;

    a {
      display: inline;
      margin-top: 20px;
      margin-right: 20px;
      color: #c77e11;
      text-transform: uppercase;
    }
  }

}
