@import "~bootstrap/dist/css/bootstrap.css";

#regions {

}


#regions {
  img {
    max-width: 100%;
  }

  h1 {
    font-size: .50em !important;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: .75em;
  }

  h4 {
    font-size: .5em;
  }

  h5 {
    font-size: .5em;
  }


}

html, body {

}

#app {
  //background: url("assets/images/background1.jpeg");
  background-size: cover;
  background-position: center;
}


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

nav#main-menu {
  margin: 20px 0;

  a {
    display: inline;
    margin-top: 20px;
    margin-right: 20px;
    color: #c77e11;
    text-transform: uppercase;
  }
}
