<div id="sites" class="container" *ngIf="homeInterface">

  <div class="row">

    <div class="col-sm-12 col-md-4 col-lg-4">
      <h1 class="">Regions</h1>

      <div *ngFor="let loc of homeInterface.locations" style="color: red;">
        {{loc.name}}
      </div>
      <mat-accordion multi="false">

        <div id="regions" cdkDropList (cdkDropListDropped)="drop($event)">

          <div class="region" *ngFor="let item of homeInterface.regions" cdkDrag>
            <mat-panel-title>


            </mat-panel-title>

            <mat-expansion-panel style="color: #0099cc;">

              <mat-expansion-panel-header>
                {{item.region}}
              </mat-expansion-panel-header>

              <div *ngFor="let loc of item.locations" style="color: red;">
                {{loc.name}} link
                {{loc.region}}<br>
                {{loc.link}}<br>
                {{loc.map}} <br>
                {{loc.gpsCoordinates}} <br>
                {{loc.comments}} <br>
                {{loc.directions}} <br>
                <img src="assets/images/{{loc.image}}" alt="">

                <mat-panel-description>
                  {{loc.description}}
                </mat-panel-description>
                <br><br>
              </div>

            </mat-expansion-panel>

          </div>

        </div>

      </mat-accordion>

    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">

    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">

    </div>
  </div>
</div>

